<h2>{{tituloT}}</h2>
	<textarea id="noticia" ng-model="mensaje" class="form-control" rows="3" ></textarea>
	<button type="button" id="twettea" ng-click="enviaTweet()" class="btn btn-primary">Enviar Tweet</button>
	</br>
	</br>
	<div>
	
	<a class="twitter-timeline" href="https://twitter.com/medicoweb" data-widget-id="420265503404208128">Tweets por @medicoweb</a>
	<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

	var options = {
						'maxCharacterSize': 140,
						'originalStyle': 'originalTextareaInfo',
						'warningStyle' : 'warningTextareaInfo',
						'warningNumber': 100,
						'displayFormat' : '#input/#max'
				};

	$('#noticia').textareaCount(options);

	</script>

</div>

