<!doctype html>
	<html id="ng-app" ng-app="twitter" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Api Twetter</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<!--[if IE 8]>
	      <script src="lib/json3.min.js"></script>
	      <script>
	        document.createElement('ng-include');
	        document.createElement('ng-pluralize');
	        document.createElement('ng-view');
	 
	        // Optionally these for CSS
	        document.createElement('ng:include');
	        document.createElement('ng:pluralize');
	        document.createElement('ng:view');
	      </script>
	    <![endif]-->
	</head>
	<body>
	<div class="container">
		<h1>{{titulo}}</h1>
		<div class="row">

		  <div class="col-md-2">
		  		<h2>{{cuenta}}</h2>
		  </div>

		  <div class="col-md-10">

			<div class="panel">

			  <ul id="myTab" class="nav nav-tabs" ng-show=" username != '' ">
			     <li id="link1" ng-class="{active: i==1}" ng-click="i=1" ><a  href="#/">Tweets</a></li>
			     <li id="link2" ng-class="{active: i==2}" ng-click="i=2"><a  href="#/seguidores">Seguidores</a></li>
			     <li id="link3" ng-class="{active: i==3}" ng-click="i=3"><a  href="#/listamensajes">Mensajes Privados</a></li>
			     <li id="link4" ng-class="{active: i==4}" ng-click="i=4"><a  href="#/mensaje">Nuevo Mensaje</a></li>
			     <li id="link5" ng-class="{active: i==5}" ng-click="i=5"><a  href="#/chat">Chat<span ng-show="push > 0" class="label label-primary">{{push}}</span></a></li>
			     <li id="link6" ng-class="{active: i==6}" ng-click="i=6"><a  href="#/sube">Subir Archivos</a></li>
			     <li id="link7" ng-class="{active: i==7}" ng-click="i=7"><a  href="#/correo">Mandar Correo</a></li>
			     <li id="link8" ng-class="{active: i==8}" ng-click="i=8"><a  href="#/graficas">Graficador</a></li>
			   </ul>

			    <div class="ng-view">

			    </div>

			</div>

		</div >

		</div>

	</div>
			
		<script src="js/jquery.js"></script>
		<script src="js/base64.js"></script>
		<script src="js/sprintf.js"></script>
		<script src="js/jspdf.js"></script>
		<script src="js/jspdf.plugin.addimage.js"></script>
		<script src="js/jspdf.plugin.standard_fonts_metrics.js"></script>
		<script src="js/jspdf.plugin.split_text_to_size.js"></script>
		<script src="js/jspdf.plugin.from_html.js"></script>
		<script src="lib/angular-file-upload-shim.min.js" ></script> 
		<script src="lib/angular.min.js" ></script>
		<script src="lib/angular-file-upload.min.js" ></script> 
		<script src="lib/angular-resource.min.js" ></script>
		<script src="lib/angular-route.js" ></script>
		<script src="lib/cookies.js" ></script>
		<!-- Firebase -->
		<script src="https://cdn.firebase.com/v0/firebase.js" ></script>
    	<script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.min.js" ></script>
    	<script src="lib/d3.min.js"></script>
    	<script src="lib/d3.v2.js"></script>
    	<script src="js/vkbeautify.0.99.00.beta.js"></script>
		<script src="lib/angular-charts.min.js"></script>
		<script src="lib/app.js" ></script>
		<script src="lib/controller.js" ></script>
		<script src="js/bootstrap.min.js" ></script>
		<script src="js/jquery.textareaCounter.plugin.js" ></script>
	</body>
	</html>	