<h2>{{tituloM}}</h2>
<div class="input-group">
<span class="input-group-addon">@</span>
<input type="text" id="usuario" ng-model="usuario" class="form-control" placeholder="Nombre de Usuario">
</div>
</br>
<textarea id="mensaje" ng-model="mensaje" class="form-control" rows="3"></textarea>
<button type="button" ng-click="enviamensaje()" id="enviaMensaje" class="btn btn-primary">Enviar Mensaje</button>
<script>
	var options = {
						'maxCharacterSize': 140,
						'originalStyle': 'originalTextareaInfo',
						'warningStyle' : 'warningTextareaInfo',
						'warningNumber': 100,
						'displayFormat' : '#input/#max'
				};

	$('#mensaje').textareaCount(options);
</script>